@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello Everyone WE have Made Some Changes in the project.</p>
    <p>hello World</p>
    <p>17/10/2019</p>
</div>
